@charset "UTF-8";

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #004643;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ヘッダー */

header {
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 25px;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    margin: 5px 0;
}

.logo p {
    font-size: 2.4rem;
    line-height: 60px;
    padding-left: 15px;
}

.menu-content ul {
    list-style: none;
    display: flex;
}

.hamburger-menu li {
    margin-right: 40px;
}

.menu-content a {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 60px;
}

#menu-btn-check {
    display: none;
}

/* トップ */

#top {
    height: calc(100vh - 60px);
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
}

#top h1 {
    font-size: 3.5rem;
}

#top p {
    font-size: 2.6rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

#top img {
    max-width: 400px;
}

#top a {
    color: #f9bc60;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(-50%, 0);
    text-decoration: none;
    padding-top: 60px;
    font-size: 1.6rem;
}

#top a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 3px solid #f9bc60;
    border-radius: 50px;
    box-sizing: border-box;
}

#top a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #f9bc60;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

/* セクション共通 */

.common {
    padding-top: 70px;
}

.common h2 {
    font-size: 3.0rem;
    text-align: center;
    margin-bottom: 50px;
}

/* about this site セクション */

#about-this-site {
    min-height: 400px;
    background-color: #abd1c6;
    padding-bottom: 70px;
}

#about-this-site p {
    text-align: center;
    font-size: 1.6rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.7;
}

/* about me セクション */

#about-me {
    padding-bottom: 70px;
}

#about-me h2 {
    color: #ffffff;
}

#about-me img {
    max-width: 300px;
    padding-right: 30px;
}

#about-me p {
    color: #ffffff;
    font-size: 1.6rem;
    max-width: 350px;
    padding-left: 30px;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-detail {
    position: relative;
}

.profile-detail a {
    display: block;
    color: #ffffff;
    font-size: 1.6rem;
    padding-left: 30px;
    position: absolute;
    bottom: 30px;
}

.profile-detail a:nth-of-type(2) {
    bottom: 0;
}

/* タブレット */

@media screen and (max-width: 1024px) {

    .logo p {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .menu-btn {
        position: fixed;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        position: absolute;
        background-color: #ffffff;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }

    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .menu-content {
        width: 100%;
        background-color: #ABD1C6;
        position: fixed;
        left: 0;
        top: 60px;
        left: 100%;
        z-index: 80;
        transition: all 0.5s;
    }

    .menu-content ul {
        flex-direction: column;
    }

    .menu-content li {
        text-align: center;
        margin: 0;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

    #top {
        height: 70vh;
    }

    #top a {
        bottom: 300px;
    }
}

/* スマートフォン */

@media screen and (max-width: 767px) {

    #top img {
        width: 100%;
    }

    #top {
        height: calc(100vh - 60px);
    }

    #top a {
        bottom: 20px;
    }

    #about-this-site p {
        max-width: 300px;
    }

    .profile {
        flex-direction: column;
    }

    #about-me img {
        height: 300px;
        padding-right: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .profile-detail p {
        margin-bottom: 20px;
    }

    .profile-detail a {
        position: unset;
        padding-bottom: 10px;
    }
}