@charset "UTF-8";

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #004643;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ヘッダー */

header {
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 25px;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    margin: 5px 0;
}

.logo p {
    font-size: 2.4rem;
    line-height: 60px;
    padding-left: 15px;
}

.menu-content ul {
    list-style: none;
    display: flex;
}

.hamburger-menu li {
    margin-right: 40px;
}

.menu-content a {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 60px;
}

#menu-btn-check {
    display: none;
}

/* タブレット */

@media screen and (max-width: 1024px) {

    .logo p {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .menu-btn {
        position: fixed;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        position: absolute;
        background-color: #ffffff;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }

    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .menu-content {
        width: 100%;
        background-color: #ABD1C6;
        position: fixed;
        left: 0;
        top: 60px;
        left: 100%;
        z-index: 80;
        transition: all 0.5s;
    }

    .menu-content ul {
        flex-direction: column;
    }

    .menu-content li {
        text-align: center;
        margin: 0;
    }

    #menu-btn-check:checked ~ .menu-content {
        left: 0;
    }

}
